img {
 max-width: 200px;
 max-height: 200px;
}

body {
    font-family: Arial;
}

input {
    font-family: Arial;
}

button {
    font-family: Arial;
}

.wrapper {
    width: 33%;
    height: 400px;
    float: left;
    text-align: center;
}

thisLineCausesWeirdStuffToHappenWithTheLayoutAndImNotSureWhy

.app {
float: left;
}

.welcome {
text-align: right;
}
