<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Job Tracker | Home</title>
    <link rel="icon" href="icon.ico"/>
    <link rel="stylesheet" type="text/css" href="styles.css"/>
</head>
<body>
{{^username}}
<form class="forms" action="/login" method="post">
  <input type="text" name="username" placeholder="Enter username">
  <input type="password" name="password" placeholder="Enter password">
  <button type="submit">Log in</button>
</form>
{{/username}}
{{#username}}
<div class="header">
<div class="welcome">Welcome back, {{.}}!
<form class="forms" action="/logout" method="post" style="display: inline-block;">
  <button type="submit">Log out</button>
</form>
    </div>
    <h1>Application Manager</h1>
<br><br>
<div class="rt">
<form class="forms" action="/add-application" method="post">
  <input type="text" name="companyName" placeholder="Company Name"><br>
  <input type="text" name="contactName" placeholder="Contact Name"><br>
  <input type="text" name="contactPhoneNumber" placeholder="Phone Number"><br>
  <input type="text" name="positionTitle" placeholder="Position Title"><br>
  <input type="text" name="companyLogo" placeholder="Link to Company Logo"><br>
  <button type="submit">Add Application</button><br>
</form>
</div>
<br>
</div>
{{/username}}

{{#applications}}
<div class="wrapper">
    <div class="app"><img src="{{companyLogo}}"/></div><br>
<b>Company Name:</b> {{companyName}}<br>
<b>Contact:</b> {{contactName}}<br>
<b>Phone:</b> {{contactPhoneNumber}}<br>
<b>Position:</b> {{positionTitle}}<br>
    <form action="/delete-application" method="post" style="display:inline-block">
        <input type="hidden" name="id" value="{{id}}"/>
        <button type="submit">Delete</button><button class="toggle" type="button">Show</button>
    </form>
    <br>
    <div class="wrapper1">
    <form action="/edit-application" method="post" style="display:inline-block">
        <input type="hidden" name="id" value="{{id}}"/>
        <input type="text" name="companyName" placeholder="Company Name"><br>
        <input type="text" name="contactName" placeholder="Contact Name"><br>
        <input type="text" name="contactPhoneNumber" placeholder="Phone Number"><br>
        <input type="text" name="positionTitle" placeholder="Position Title"><br>
        <input type="text" name="companyLogo" placeholder="Link to Company Logo"><br>
        <button type="submit">Save Changes</button>
    </form>
        </div>
</div>
{{/applications}}

<!-- See link for jquery fading: http://www.w3schools.com/jquery/jquery_fade.asp -->
<script src="jquery-3.0.0.js"></script>
<script src="main.js"></script>
</body>
</html>
