<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Job Tracker | Home</title>
    <link rel="icon" href="icon.ico"/>
    <link rel="stylesheet" type="text/css" href="styles.css"/>
</head>
<body>
{{^username}}
<form class="forms" action="/login" method="post">
  <input type="text" name="username" placeholder="Enter username">
  <input type="password" name="password" placeholder="Enter password">
  <button type="submit">Log in</button>
</form>
{{/username}}
{{#username}}
<div class="welcome">Welcome back, {{.}}!
<form class="forms" action="/logout" method="post" style="display: inline-block;">
  <button type="submit">Log out</button>
</form>
    </div>
<br><br>
<form class="forms" action="/add-application" method="post">
  <input type="text" name="companyName" placeholder="Company Name">
  <input type="text" name="contactName" placeholder="Contact Name">
  <input type="text" name="contactPhoneNumber" placeholder="Phone Number">
  <input type="text" name="positionTitle" placeholder="Position Title">
  <input type="text" name="companyLogo" placeholder="Link to Company Logo">
  <button type="submit">Add Application</button>
</form>
<br>
{{/username}}
{{#applications}}
<div class="wrapper">
    <div class="app"><img src="{{companyLogo}}"/></div><br>
<b>Company Name:</b> {{companyName}}<br>
<b>Contact:</b> {{contactName}}<br>
<b>Phone:</b> {{contactPhoneNumber}}<br>
<b>Position:</b> {{positionTitle}}<br>
    <form action="/delete-application" method="post" style="display:inline-block">
        <input type="hidden" name="id" value="{{id}}"/>
        <button type="submit">Delete</button>
    </form>
    <br>
    <form action="/edit-application" method="post" style="display:inline-block">
        <input type="hidden" name="id" value="{{id}}"/>
        <input type="text" name="companyName" placeholder="Company Name"><br>
        <input type="text" name="contactName" placeholder="Contact Name"><br>
        <input type="text" name="contactPhoneNumber" placeholder="Phone Number"><br>
        <input type="text" name="positionTitle" placeholder="Position Title"><br>
        <input type="text" name="companyLogo" placeholder="Link to Company Logo"><br>
        <button type="submit">Edit</button>
    </form>


</div>
{{/applications}}
</body>
</html>
